<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- Brand/Logo -->
      <a class="navbar-brand d-flex align-items-center" routerLink="/students">
        <img
          src="assets/icons/logo.png"
          alt="AI Daho"
          height="50px"
          class="me-2"
        />
        <h4 class="grey">DAHO</h4>
      </a>

      <!-- Toggle button for mobile view -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav links (if you want to add more) -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="students"
              routerLink="/students"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
